# Ensure that env_var test files with sensitive data aren't committed
*.sensitive

# Mage
magefile
*mage_output_file.go*

# Delve envFile
.env

# VSCode
*debug_bin*
.vscode/settings.json

# Test Artifacts
testFile
pkg/ec2/test_env
